.search {
    position: absolute;
    left: 10%;
    width: 300px;
    margin-top: 3%;
}

.searchbox {
    margin-top: 3%;
    margin-bottom: 3%;
}

.display {
    width: 50%;
    height: 40%;
    border: 1px solid #000;
    position: absolute;
    right: 10%;
    padding: 15px;
    padding-top: 5px;
    margin-top: 3%;
    text-align: center;
    overflow-x: auto;
}

.navbar {
    width: 100%;
}

.visualization {
    width: 80%;
    height: 30%;
    border: 3px solid #000;
    position: absolute;
    left: 10%;
    bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

/*--The Percentages Table/Piechart--*/
.charts {
    display: flex;
    flex-direction: row;
    margin: 2%;
    width: auto;
    height: auto;
}

.charts .piecharts {
    width: 50%;
    margin-right: 10%;
    z-index: -1;
}

.charts .table {
    max-height: 500px;
    overflow: auto;
}

.charts thead tr td {
    position: sticky;
    top: 0px;
}

.charts .table {
    background: #fff;
    margin-left: 10%;
    overflow-y: auto;
    width: auto;
    height: 300px;
    float: right;
}

.charts table {
    border-collapse: collapse;
}

.charts tr {
    border-bottom: 1px solid #eef0f3;
}

.charts thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background: #f0fafb;
    text-align: start;
    padding: 15px;
}

.charts tbody tr td {
    padding: 10px 15px;
}
/*---------------------------------*/