html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #111827 !important;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    text-align: center;
    border: 3px solid aliceblue;
    border-radius: 10px;
    background-color: #eef0f3;
}

.subtitle {
    font-size: 25px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-reset {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    text-align: center;
    border: 3px solid aliceblue;
    border-radius: 10px;
    background-color: #eef0f3;
}

.btn-reset:nth-child(1){
    margin: 5px 5px;
}
